<mat-drawer-container class="example-container" autosize>

  <mat-drawer [(opened)]="opened" class="sidenav" mode="side" disableClose="true" opened>
    <layout-side-nav></layout-side-nav>
  </mat-drawer>

  <div class="main-content">

    <header class="bg-red-300">
      <button type="button" mat-button (click)="toggleDrawer()">
        <mat-icon *ngIf="opened" aria-hidden="false" aria-label="Example home icon">
          arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!opened" aria-hidden="false" aria-label="Example home icon">
          arrow_forward_ios</mat-icon>
      </button>

      <div class="right">
        <button type="button" mat-button (click)="toggleDrawer()">
          <mat-icon aria-hidden="false" aria-label="Notification Icon">
            notifications_outline
          </mat-icon>

        </button>

        <div class="user-info">

        </div>
      </div>
    </header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
